$nav_background_color: #F78B31;
$vmm_color: #FFA500;
@mixin border-radius($radius) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -ms-border-radius: $radius;
}

@mixin box-shadow($left, $right, $deep, $color) {
    box-shadow: $left $right $deep $color;
    -moz-box-shadow: $left $right $deep $color;
    -webkit-box-shadow: $left $right $deep $color;
}

/*		Tablet Layout: 768px.
                Gutters: 24px.
                Outer margins: 28px.
                Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    
}

/*		Mobile Layout: 320px.
                Gutters: 24px.
                Outer margins: 34px.
                Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 767px) { 
    body {
        background: #fff;
    }
    
    div#banner {
        display: none;
    }
    
    nav#mainNav {
        height: 40px;
        z-index: 99;
        ul {
            position: absolute;
            top: 42px;
            display: none;
            height: auto;
            width: 100%;
            background: #3c3c3c;
            li {
                float: none;
                background: #535353;
                border-bottom: 1px solid #3c3c3c;
                a {
                    display: block;
                    color: #f1f1f1;
                    border-right: none;
                    &:hover {
                        color: #f1f1f1;
                    }
                }
                ul {
                    display: block;
                    top: 0;
                    position: relative;
                    background-color: #222;  
                    li {
                        display: block;
                        background: none;
                        border-bottom: none;
                        text-indent: 20px;
                        height: 30px;
                        border-bottom: 1px solid #3c3c3c;
                        a {
                            background: none;
                            line-height: 30px;
                            height: 30px;
                            font-size: 12px;
                            &:hover {
                                background: none;
                            }
                        }
                    }
                }
                
                &:hover {
                    ul {
                        border-top: none;
                    }
                }
            }
        }
        
        #mobileHeader {  
            display: block;
            font-size: 18px;
            position: relative; 
            line-height: 20px;
            div {
                float: left;
                text-align: center;
                vertical-align: middle;
                &#menu {
                    width: 20%;
                }
                
                &#logo {
                    width: 60%;
                }
                
                &#search {
                    width: 20%;
                }
            }
            
            a {
                border: none;
                padding: 0 5px;
                img {
                    outline: none;
                    margin-top: 7px;
                    height: 23px;
                }
            }
        }
    }
    
    #search-form {
        min-height: 500px;
        input[type=text] {
            padding: 3px;
            margin-left: 5px;
            
        }
    }
    
    // list product style
    
    div.list-product {
        .list-product-title {
           font-size: 13px;
           text-transform: uppercase;
           font-weight: bold;
           line-height: 30px;
           display: block;
           height: 30px;
           color: #f1f1f1;
           background: #F78B31;
           text-indent: 10px;
        }
        
        .list-product-item-url {
            color: #535353;
            text-decoration: none;
            
            .list-product-item {
                border-bottom: 1px solid #c5c5c5;
                min-height: 90px;
                height: auto;
                display: block;
                
                .list-product-item-image {
                    width: 60px;
                    display: block;
                    height: 60px;
                    margin: 10px;
                    float: left;
                    clear: left;
                    @include border-radius(10px);
                    border: 2px solid #fff;
                    @include box-shadow(0px, 0px, 1px, #999);                
                }
            
                .list-product-item-data {
                    display: block;
                    padding-left: 80px;
                    .list-product-item-title {
                        font-size: 14px;
                        line-height: 25px;
                        
                    }

                    .list-product-item-price {
                        img {
                            height: 17px;
                            width: 17px;
                            margin-right: 10px;
                        }
                        font-size: 13px;
                        color: #666;
                        display: inline-block;
                        
                    }

                    .list-product-item-description {
                        font-size: 13px;
                        display: block;
                        color: #666;
                    }

                    .list-product-item-download {
                        img {
                            height: 16px;
                            width: 16px;
                            margin: 0px 10px;
                        }
                        font-size: 13px;
                        color: #666;
                        display: inline-block; 
                    }
                }
            }
        }
    }
    
    .product-item {
        &>img {
          width: 70px;
          height: 70px;
          float: left;
          @include border-radius(10px);
          @include box-shadow(0, 0, 1px, #999);
          border: 2px solid #fff;
          margin: 10px;
        }
        
        h3 {
            
        }
        
        .downloadButton {
            @include border-radius(5px);
            @include box-shadow(0, 0, 1px, #999);
            background: $nav_background_color;
            color: #222;
            border: 1px solid #f1f1f1;
            font-size: 16px;
            font-weight: bold;
            padding: 3px;
        }
        
        .product-item-price {
            img {
                height: 17px;
                width: 17px;
                margin-right: 10px;
            }
        }
        
        .product-item-buy-area {
            margin: 10px;
            padding: 10px;
            @include border-radius(5px);
            border: 1px solid #555;
            background: #4c4c4c;
            text-align: center;
            text-transform: uppercase;
            color: $nav_background_color;
            h4 {
                color: #f1f1f1;
                font-size: 14px;
            }
        }
        
        .product-item-download-count {
            img {
                height: 16px;
                width: 16px;
                margin: 0px 10px;
            }
        }
        
        .product-item-description {
            display: block;
            font-size: 13px;
            color: #666;
            padding: 10px;
        }
        
        .product-item-specification {
            display: block;
            font-size: 13px;
            color: #999;
            padding: 5px;
            
            h4 {
                height: 30px;
                line-height: 30px;
                background: $nav_background_color;
                text-align: left;
                text-indent: 10px;
                color: #000;
                border-left: 5px solid #1386c2;
            }
        }
    }
    
    div#footer {
        text-align: center;
        border-top: 1px solid #999;
        color: #999;
        font-size: 13px;
        width: 100%;
        bottom: 0;
        background: white;
        span {
            color: $vmm_color;
        }
    }
}

/*		Wide Mobile Layout: 480px.
                Gutters: 24px.
                Outer margins: 22px.
                Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */
@media only screen and (min-width: 480px) and (max-width: 767px) {  
   
}

/*	Retina media query.
        Overrides styles for devices with a 
        device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */
@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {

    body {

    }

}