/**
Extra small devices (phones, less than 768px)
@media (max-width: 768px) {}
Small devices (tablets, 768px and up)
@media (min-width: 769px) and (max-width: 991px) {}
Medium devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {}
Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
**/

/* Header stylesheet */
#header-wrapper {
    background-color: #3095B2;
    border-bottom: 1px solid #206579;
    margin-bottom: 10px;
}

#header-wrapper header {
    border-bottom: 1px solid #206579;
}

#header-wrapper header .social-icons {
    text-align: center;
}

#header-wrapper header .social-icons a {
    color: #1f6376;
    padding: 3px;
    font-size: 35px;
    line-height: 50px;
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

#header-wrapper header .social-icons a:hover {
    color: #3ec9f1;	
}

@media (max-width: 768px) {    
    #header-wrapper header .social-icons a {
        font-size: 25px;
        line-height: 50px;
    }
}
@media (min-width: 769px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1199px) {}


/*nav toggle*/

#nav-toggle {
    display: block;
    color: #FF77A0;
    font-size: 30px;
    text-align: left;
    line-height: 50px;
}

#nav-toggle i {
    text-align: center;
    padding: 0 5px;
}
/* Search Form stylesheet */

.search-box {
    position: relative; 
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 50px;
}
.search-box input[type=text], .search-box input[type=search] {
    font-size: 14px;
    line-height: 30px;
    padding: 0 5px;
    background:rgba(255, 255, 255, 0.5);
    border:1px solid #dbdbdb;
    width: 100px;
    z-index: 10;
    padding-right: 30px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.search-box input[type=text]:focus, .search-box input[type=search]:focus {
    width: 250px;
}

.search-box span {
    display: block;
    text-align: center;
    width: 30px;
    box-sizing: border-box;
    display: block;
    margin: 0;
    position: absolute;
    right: 0px;
    top: 0;
    font-size: 18px;
    line-height: 48px;
    color: #FF77A0;
    text-shadow: 1px 1px 1px #1f5f72;
}

@media (max-width: 768px) {
    .search-box input[type=text], .search-box input[type=search] {
        margin: 0 auto;
        
    }
}
@media (min-width: 769px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1199px) {}

/* main (top) navigation stylesheet */

#header-wrapper nav {
    border-top: 1px solid #3bb3d6;
}

#header-wrapper nav .logo {
    text-align: center;
    line-height: 80px;
    font-size: 45px;
    font-weight: bolder;
    color: #FF77A0;
}

#header-wrapper nav .logo a {
    text-decoration: none;
    color: #FF77A0;
}

#header-wrapper nav ul.top-nav {
    list-style: none;
    padding: 0;
}

#header-wrapper nav ul.top-nav li {
    display: block;
    float: left;
}

#header-wrapper nav ul.top-nav a {
    color: #f1f1f1;
    white-space: nowrap;
    font-size: 17px;
    text-decoration: none;
    display: block;
    line-height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
    outline: none;
    cursor: pointer;
    position: relative;
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
#header-wrapper nav ul.top-nav a span {
    color: #FF77A0;
    padding-right: 5px;
}

#header-wrapper nav ul.top-nav a:hover {
    background-color: #1f5f72;
    color: #f1f1f1;
}

#header-wrapper nav ul.top-nav a:after {
    content: '';
    width: 0;
    display: block;
    position: absolute;
    z-index: 1000;
    bottom: 0px	;
    left: 0;
    height: 5px;
    background-color: rgba(255,119, 160, 0.8);
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: none;
}

#header-wrapper nav ul.top-nav a:hover:after {
    width: 100%;
    display: block;
}

@media (max-width: 768px) {
    #header-wrapper nav .logo {
        line-height: 50px;
        font-size: 30px;
        font-weight: bolder;
        color: #FF77A0;
    }

    #header-wrapper nav .logo a {
        text-decoration: none;
        color: #FF77A0;
    }
    
    #header-wrapper nav ul.top-nav {
        display: block;
        width: auto;
        margin: 0 auto;
        text-align: center;
        list-style: none;
        padding: 0;
    }

    #header-wrapper nav ul.top-nav li {
        display: block;
        float: left;
    }

    #header-wrapper nav ul.top-nav a {
        color: #fff;
        font-size: 12px;
        line-height: 50px;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: bold;
    }

    #header-wrapper nav ul.top-nav a:after {
        height: 2px;
    }
}
@media (min-width: 769px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1199px) {}

/* category navigation */

.cat-nav {
    padding: 0;
    margin: 0;
    display: block;
    border-bottom: 2px solid #FF77A0;
}

.cat-nav h3 {
    display: block;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0;
    line-height: 30px;
}

.cat-nav h3 span {
    font-size: 30px;
    padding-right: 5px;
    line-height: 30px;
    color: #FF77A0;
}

.cat-nav ul {
    list-style: none;
    padding: 0; 
}

.cat-nav ul a {
    display: block;
    font-size: 17px;
    text-decoration: none;
    color: #333;
    padding-left: 10px;
    line-height: 35px;
    background: #3095B2;
    color: #f1f1f1;
}

.cat-nav ul ul a:hover {
    color: #FF77A0;
    text-decoration: underline;
}

.cat-nav ul ul a {
    background: none;
    color: #333;
    padding-left: 20px;
}

/*product navigation mobile menu*/

#mobile-category {
    background: #f1f1f1;
    box-shadow: inset -2px 0px 5px rgba(0, 0, 0,0.5);
    -moz-box-shadow: inset -2px 0px 5px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: inset -2px 0px 5px rgba(0, 0, 0,0.5);
}

#mobile-category h3 {
    text-align: center;
}

/*product list items*/

.product-item {
    margin: 5px;
    height: 180px;
}

.product-item p {
    padding: 0;
    margin: 0;
}

.product-item p.meta {
    font-size: 12px;
    color: #666;
}
.product-item.video {
    width: 100%;
}

.product-item.music {
    position: relative;
    height: 80px;
    border: 1px solid #f1f1f1;
    
}

.product-item.music .thumb {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
}

.product-item.music .thumb img {
    width: 70px;
    height: 70px;  
    margin: 5px;
}

.product-item.music .product-description {
    padding-left: 80px;
    padding-top: 10px;
}

.product-item.picture {
    position: relative;
    height: 120px;
    border: 1px solid #f1f1f1;
    
}

.product-item.picture .thumb {
    width: 150px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
}

.product-item.picture .thumb img {
    width: 150px;
    height: 90px;  
    margin: 5px;
}

.product-item.picture .product-description {
    padding-left: 160px;
    padding-top: 10px;
}

.product-item p a {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.product-detail {
    padding: 5px;
    border-bottom: 1px solid #f1f1f1;
    box-shadow: inset 0px -1px 2px rgba(0,0,0,0.2);
    position: relative;
}

.product-detail .thumb {
    position: absolute;
    top: 5px;
    left: 5px;
}

.detail-description {
    padding-left: 110px;
    min-height: 110px;
}

.detail-description h3 {
    margin: 10px 0 5px 0;
    color: #FF77A0;
    font-size: 18px;
    font-weight: bold;
}

.postDesc h3 {
    color: #FF77A0;
    font-size: 18px;
    font-weight: bold;
}

.metadata {
    color: #888;
    font-size: 12px;
}

@media (max-width: 768px) {
    .product-item {
        position: relative;
        height: auto;
    }
    
    .product-item.music {
        height: 80px;
    }
    
    .product-item.picture {
        height: 100px;
    }
    
    .product-description {
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,.8);
        width: 100%;
    }
    
    .product-item.music .product-description, .product-item.picture .product-description {
        position: inherit;
        background: inherit;
        width: auto;
    }
    
    .product-item.music .thumb, .product-item.picture .thumb {
        top: 0;
        left: 0;
    }
}
@media (min-width: 769px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1199px) {}

/*site footer*/

#footer {
    background-color: #3095B2;
    border-top: 2px solid #FF77A0;
    color: #fff;
}

#footer h2 {
    font-size: 18px;
    border-bottom: 1px solid #ff77a0;
    padding-bottom: 5px;
}

#footer ul {
    list-style: none;
    padding: 0;
}

#footer a {
    color: #FF77A0;
}

#footer ul li {
    padding: 0;
    margin: 0;
}

#footer ul a {
    text-decoration: none;
    display: block;
    line-height: 30px;
    color: white;
    padding-left: 30px;
    transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}

#footer ul a:hover {
    background-color: #5eb8d2;
    color: #ff77a0;
}

@media (max-width: 768px) {
    #footer ul a {
        width: 50%;
        float: left;
    }
}


.separator {
    margin: 5px;
    padding: 0;
    border-top: 2px solid #FF77A0;
}

