/*		Tablet Layout: 768px.
                Gutters: 24px.
                Outer margins: 28px.
                Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
/*		Mobile Layout: 320px.
                Gutters: 24px.
                Outer margins: 34px.
                Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 767px) {
  body {
    background: #fff; }

  div#banner {
    display: none; }

  nav#mainNav {
    height: 40px;
    z-index: 99; }
    nav#mainNav ul {
      position: absolute;
      top: 42px;
      display: none;
      height: auto;
      width: 100%;
      background: #3c3c3c; }
      nav#mainNav ul li {
        float: none;
        background: #535353;
        border-bottom: 1px solid #3c3c3c; }
        nav#mainNav ul li a {
          display: block;
          color: #f1f1f1;
          border-right: none; }
          nav#mainNav ul li a:hover {
            color: #f1f1f1; }
        nav#mainNav ul li ul {
          display: block;
          top: 0;
          position: relative;
          background-color: #222; }
          nav#mainNav ul li ul li {
            display: block;
            background: none;
            border-bottom: none;
            text-indent: 20px;
            height: 30px;
            border-bottom: 1px solid #3c3c3c; }
            nav#mainNav ul li ul li a {
              background: none;
              line-height: 30px;
              height: 30px;
              font-size: 12px; }
              nav#mainNav ul li ul li a:hover {
                background: none; }
        nav#mainNav ul li:hover ul {
          border-top: none; }
    nav#mainNav #mobileHeader {
      display: block;
      font-size: 18px;
      position: relative;
      line-height: 20px; }
      nav#mainNav #mobileHeader div {
        float: left;
        text-align: center;
        vertical-align: middle; }
        nav#mainNav #mobileHeader div#menu {
          width: 20%; }
        nav#mainNav #mobileHeader div#logo {
          width: 60%; }
        nav#mainNav #mobileHeader div#search {
          width: 20%; }
      nav#mainNav #mobileHeader a {
        border: none;
        padding: 0 5px; }
        nav#mainNav #mobileHeader a img {
          outline: none;
          margin-top: 7px;
          height: 23px; }

  #search-form {
    min-height: 500px; }
    #search-form input[type=text] {
      padding: 3px;
      margin-left: 5px; }

  div.list-product .list-product-title {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
    display: block;
    height: 30px;
    color: #f1f1f1;
    background: #F78B31;
    text-indent: 10px; }
  div.list-product .list-product-item-url {
    color: #535353;
    text-decoration: none; }
    div.list-product .list-product-item-url .list-product-item {
      border-bottom: 1px solid #c5c5c5;
      min-height: 90px;
      height: auto;
      display: block; }
      div.list-product .list-product-item-url .list-product-item .list-product-item-image {
        width: 60px;
        display: block;
        height: 60px;
        margin: 10px;
        float: left;
        clear: left;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -ms-border-radius: 10px;
        border: 2px solid #fff;
        box-shadow: 0px 0px 1px #999999;
        -moz-box-shadow: 0px 0px 1px #999999;
        -webkit-box-shadow: 0px 0px 1px #999999; }
      div.list-product .list-product-item-url .list-product-item .list-product-item-data {
        display: block;
        padding-left: 80px; }
        div.list-product .list-product-item-url .list-product-item .list-product-item-data .list-product-item-title {
          font-size: 14px;
          line-height: 25px; }
        div.list-product .list-product-item-url .list-product-item .list-product-item-data .list-product-item-price {
          font-size: 13px;
          color: #666;
          display: inline-block; }
          div.list-product .list-product-item-url .list-product-item .list-product-item-data .list-product-item-price img {
            height: 17px;
            width: 17px;
            margin-right: 10px; }
        div.list-product .list-product-item-url .list-product-item .list-product-item-data .list-product-item-description {
          font-size: 13px;
          display: block;
          color: #666; }
        div.list-product .list-product-item-url .list-product-item .list-product-item-data .list-product-item-download {
          font-size: 13px;
          color: #666;
          display: inline-block; }
          div.list-product .list-product-item-url .list-product-item .list-product-item-data .list-product-item-download img {
            height: 16px;
            width: 16px;
            margin: 0px 10px; }

  .product-item > img {
    width: 70px;
    height: 70px;
    float: left;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    box-shadow: 0 0 1px #999999;
    -moz-box-shadow: 0 0 1px #999999;
    -webkit-box-shadow: 0 0 1px #999999;
    border: 2px solid #fff;
    margin: 10px; }
  .product-item .downloadButton {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    box-shadow: 0 0 1px #999999;
    -moz-box-shadow: 0 0 1px #999999;
    -webkit-box-shadow: 0 0 1px #999999;
    background: #f78b31;
    color: #222;
    border: 1px solid #f1f1f1;
    font-size: 16px;
    font-weight: bold;
    padding: 3px; }
  .product-item .product-item-price img {
    height: 17px;
    width: 17px;
    margin-right: 10px; }
  .product-item .product-item-buy-area {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border: 1px solid #555;
    background: #4c4c4c;
    text-align: center;
    text-transform: uppercase;
    color: #f78b31; }
    .product-item .product-item-buy-area h4 {
      color: #f1f1f1;
      font-size: 14px; }
  .product-item .product-item-download-count img {
    height: 16px;
    width: 16px;
    margin: 0px 10px; }
  .product-item .product-item-description {
    display: block;
    font-size: 13px;
    color: #666;
    padding: 10px; }
  .product-item .product-item-specification {
    display: block;
    font-size: 13px;
    color: #999;
    padding: 5px; }
    .product-item .product-item-specification h4 {
      height: 30px;
      line-height: 30px;
      background: #f78b31;
      text-align: left;
      text-indent: 10px;
      color: #000;
      border-left: 5px solid #1386c2; }

  div#footer {
    text-align: center;
    border-top: 1px solid #999;
    color: #999;
    font-size: 13px;
    width: 100%;
    bottom: 0;
    background: white; }
    div#footer span {
      color: orange; } }
/*		Wide Mobile Layout: 480px.
                Gutters: 24px.
                Outer margins: 22px.
                Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */
/*	Retina media query.
        Overrides styles for devices with a 
        device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

/*# sourceMappingURL=site.css.map */
